@font-face {
  font-family: 'PlusJakartaSans';
  src: local('PlusJakartaSans-Regular'), local('PlusJakartaSans Regular'),
    url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
